  <h2>Proposals I've Claimed</h2>

<div class="table-responsive">
<table class="table table-striped">
  <tr>
    <th class="center">Contact Info</th>
    <th class="center">Date Claimed</th>
    <th class="center">Note to Creator</th>
    <th class="center">Course</th>

  </tr>

  <% @claims.each do |claim| %>
    <tr>
      <td class="center"><%= claim.creator.email %></td>
      <td class="center"><%= claim.created_at.strftime("%B %-d, %Y") %></td>
      <td class="center"><%= claim.explanation %></td>
      <td class="center"><%= claim.course %><%= claim.proposal.course %></td>
    </tr>
  <% end %>
</table>
</div>
<br>
<% if user_signed_in? %>
  <%= link_to 'New Proposal', new_proposal_path, class: "btn btn-primary" %>
<% end %>
