  <h2>Who's Claimed Your Proposals?</h2>

<div class="table-responsive">
<table class="table table-striped table-hover">
  <tr>
    <th class="center">Which Proposal?</th>
    <th class="center">Who Claimed?</th>
    <th class="center">Email</th>
    <th class="center">Note to You</th>
    <th class="center">Date Claimed</th>
    <th class="center">Course Match</th>

  </tr>

  <% @claims.each do |claim| %>
    <tr>
      <td class="center"><%= claim.proposal.title %></td>
      <td class="center"><%= claim.proposal.user.name %></td>
      <td class="center"><%= claim.claimer.email %></td>
      <td class="center"><%= claim.explanation %></td>
      <td class="center"><%= claim.created_at.strftime("%B %-d, %Y") %></td>
      <td class="center"><%= claim.course %><%= claim.proposal.course %></td>

    </tr>
  <% end %>
</table>
</div>
<h2>All of <%= current_user.name %>'s Proposals</h2>
  
<div class ="table-responsive">
<table class ="table table-striped table-hover">
  <thead>
    <tr>
      <th>Date Created</th>
      <th>Title</th>
      <th>Category</th>
      <th>Semester</th>
      <th>Project Length</th>
      <th>Status</th>
    </tr>
  </thead>

  <tbody>
    <% @proposals.each do |proposal| %>
      <tr>
         <td class="date"><%= proposal.created_at %></td>
        <td><%= proposal.title %></td>
        <td><%= proposal.subject %></td>
        <td><%= proposal.semester_id %></td>
        <td><%= proposal.time %></td>
        <td><%= proposal.status if proposal.status %></td>
        <!--<td><%= link_to "PDF", proposal.document.url %></td>-->
        <td></td>
        <td><%= link_to 'Show', proposal %></td>
        <% if proposal.user == current_user %>
          <td><%= link_to 'Edit', edit_proposal_path(proposal) %></td>
          <td><%= link_to 'Destroy', proposal, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
 
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<br>
</div>