	<h1>My proposals</h1>
  <% if user_signed_in? %>
  <%= link_to 'Start a New Proposal!', new_proposal_path, class: "btn btn-default" %>
<% end %>
	<table class ="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Email</th>
      <th>Resume</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @proposals.each do |proposal| %>
      <tr>
        <td><%= proposal.title %></td>
        <td><%= proposal.user.email if proposal.user %></td>
        <!-- <td><%= link_to "PDF", proposal.document.url %></td> -->
        <td><%= link_to 'Show', proposal %></td>
        <% if proposal.user == current_user %>
          <td><%= link_to 'Edit', edit_proposal_path(proposal) %></td>
          <td><%= link_to 'Destroy', proposal, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
</div>