  <div class="row">
  <div class="col-md-8">
    <h2>Welcome to the BOLD Project Database!</h2>

      <p>BOLD, or Business Opportunity and Leadership Development, is a partnership program created to provide opportunities for businesses and non-profit organizations to with with university students. In this mutually beneficial program, students have an oppourtunity to work on real-world client projects, and clients are provided with value-added communication projects. BOLD projects have ranged from website design and development projects to comprehensive editing projects.</p>

      <p>THE BOLD Project Database was developed as a web-based system that connects clients with instructors of technical communication in hopes of creating a streamlined process for collaboration. Clients who have project work for undergraduate students can propose projects to be matched with instructors of technical communication.</p>
      <h2>A Centralized Location for Clients and Instructors</h2>

      </div>
  <div class="col-md-4">
    <div class="form-signin-home">
       <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>
    <h2>Create an Account</h2>
 
  <div class="form-group">
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :password %>
    <% if @validatable %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %>
    <%= f.password_field :password, autocomplete: "off", class:"form-control" %>
  </div>
  <div class ="form-group">
    <%= f.label :role, "Are you a client or an instructor?"%>
    <%= f.collection_select(:role, User::ROLES, :to_s, lambda{|i| i.to_s.humanize}) %>
</div>
  <div class="actions">
    <%= f.submit "Sign up", class: "btn btn-lg btn-primary btn-block" %>
  </div>
<% end %>
</div>
</div>
</div> <!-- closing row class-->

<div class="row">
  <div class="col-md-4">
    <div class="thumbnail">
      <%= image_tag 'code.fw.png' %>
      <div class="caption">
        <h3>Web-based Projects</h3>
        <p>Students have worked on a variety web-related projects including full website redesigns for clients. Projects typically use the Wordpress content management system, but we are flexible to meet client needs.</p>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="thumbnail">
      <%= image_tag 'people.fw.png' %>
      <div class="caption">
        <h3>Support students while supporting your business</h3>
        <p>Allowing students to work on real-world projects not only exposes them to essential experience, it provides real benefits to your business.</p>
  
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="thumbnail">
      <%= image_tag 'documents.fw.png' %>
      <div class="caption">
        <h3>Technical communication is essential to your organization.</h3>
        <p>Previous client projects have added value to many organizations. Previous projects have included editing, graphic design, marketing, technical documentation, and more.</p>
      </div>
    </div>
  </div>
</div>