<%= form_for @proposal, html: { multipart: true } do |f| %>  
<% if @proposal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@proposal.errors.count, "error") %> prohibited this proposal from being saved:</h2>

      <ul>
      <% @proposal.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class ="form-inline">
   <%= f.label :first_name %><br>
    <%= f.text_field :first_name, class: "form-control" %>
  </div>
  <div class ="form-inline">
   <%= f.label :last_name %><br>
    <%= f.text_field :last_name, class: "form-control" %>
  </div>
    <div class ="form-inline">
   <%= f.label :organization, "Organization or Company Name" %><br>
    <%= f.text_field :organization, class: "form-control" %>
  </div>

<div class="form-group">
    <%= f.label :title %><br>
    <%= f.text_field :title, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :semester_id, "Semester (e.g., Spring, 2014)" %><br>
    <%= f.text_field :semester_id, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :abstract, "Abstract (300-word summary of your project)" %><br>
    <%= f.text_area :abstract, class: "form-control" %>
  </div>

<div class="form-group">
    <%= f.submit class: "btn btn-default" %>
  </div>

<% end %>
