<h2 class="proposal"><strong>Active Proposals</strong> => A listing of every active proposal submitted in the BOLD database.</h2>

  

<% form_tag proposals_path do %>

<% end %>
<br />

<div id="users">
<%= search_form_for @search do |f| %>
    <h2>Filter Proposals</h2>
      <%= f.select :subject_cont, options_for_subject, :prompt => 'Filter by category', class: "form-control" %>
      <%= f.select :semester_id_cont, options_for_semester_id, :prompt => 'Filter by semester', class: "form-control" %>
     
            <%= link_to(proposals_path) do %>
        <img class="icon icons8-Clear-Filters" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAYAAAAeP4ixAAACnklEQVRoQ+2a/TUFMRDF76sAHegAHTwlqAAd0IEOUAE60AEdoAIloALOPWfHmc0ms5NN9slzNv9g5W3ml7kz+Zi3AvAC4BDb0R4BnMRMXQH43g6GXytp86BpkGiHhiBlwkdB9gB8NmS4NmUXwEf3IAnyCuAAAH8eNwhDiKcujt9S8Uw6dnxWMEeNeUWSESHWqYkWN+13HtkBcA/gvBGYOwBnAL4A0Mak9LXemILpmVZgNAQ9QeknWxg4rcBkQZAulgH+GiYbIgXC53QlMwXbJYCbDcXMBYDrbiwmHVNO2iZrEWSQcXbYGPxMAnO2ovHGVvOil2dQF48zBkJbigcZAaryfg9ICMPVn2m6RtOxWCRfLwiNZoycdosSYdyBmCBmdmRC4c7iofP85MnJAakJUxXCSr/WzJR6pjrEVJASz8wCUQLCz+Zu/13b8alBkhsjehy9/c8Z39yO57zIu7J73qlPbp7+7DPLSbTEI2K4eZZWdN5+3gnp9VtAJsz04hGP1hZpLdKKH6896jH7LNJapPWPpfWuDmu5l+iyEY3ea+UGnnehS/XL3UWLfb3ddAvBHl6ieyoC4ZFg3QIIZzgHZgBBabYC4oWJQpSeEOfYxlueSULUBhm77/ImhRgMbdVVq0HBp4a0JOvIpQQvvWNp1AsSkxmf8eIieUyuAcJBeIt+1RWJCMHfb4M8ngMSwvBvV+ktd+2I9ackWH7gbSQbPUXvyPXqFBCRk7wvmZpreUSDUb8EYqVYy80sLwczEwY2/21WnucAEZtCudE4T4KJZSd+TleeB56ZE0R0ruU2BmKlWHPRnBtEvCNyk+yTijEzxVo7gE2BjCUTc7GLxM9AZi2A5EAI00BmLYC4vqIRcWkPpgUQqXwlv2di6FJg8AMg7OSRlJrakgAAAABJRU5ErkJggg==" width="18" height="18">
      <% end %>
      <br>
      <br>
    <div class="actions">
      <%= f.submit "Filter", class: 'btn btn-default' %><br>
    </div>
<% end %>
<br>
<br>
<div class ="table-responsive">
<table class ="table table-striped table-hover">
  <thead>
    <tr>
      <th class="sort" data-sort="date">Date Created</th>
      <th class="sort" data-sort="name">Proposal Creator</th>
      <th class="sort" data-sort="organization">Affiliation</th>
      <th class="sort" data-sort="title">Proposal Title</th>
      <th class="sort" data-sort="category">Category</th>
      <th class="sort" data-sort="semester">Semester</th>
      <th class="sort" data-sort="course">Course</th>
      <th class="sort" data-sort="status">Claim Status?</th>

      <th colspan="3"></th>

    </tr>
  </thead>

  <tbody class="list">
    <% @proposals.each do |proposal| %>
      <tr>
        <td class="date"><%= proposal.created_at.strftime("%B %-d, %Y") %></td>
        <td class="name"><%= link_to [proposal.first_name, proposal.last_name].join(" "), proposal %></td>
        <td class="organization"><%= proposal.organization %></td>          
        <td class="title"><%= link_to proposal.title, proposal %></td>
        <td class="category"><%= proposal.subject %></td>
        <td class="semester"><%= proposal.semester_id %></td>
        <td class="course"><%= proposal.course %><% for claim in proposal.claims %>
          <%= claim.course %>
      <% end %></td>
       
     <td class="status" > 
     <% for claim in proposal.claims %> 
        <p style="background:#c0392b; padding:5px; text-align:center; border-radius:5px; color: white"><%= claim.claim_status %> by "<%= claim.claimer.name %>"</p>
      <% end %>
      </td>

 

        <td><%= link_to 'View', proposal %></td>
        <% if can? :update, proposal %>
          <td><%= link_to 'Edit', edit_proposal_path(proposal) %></td>
        <% end %>
        <% if can? :destroy, proposal %>
          <td><%= link_to 'Delete', proposal, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
            
      
      </tr>
    <% end %>
  </tbody>
</table>

</div>
</div> 
<br>
  <%= link_to "View Old Projects", archived_path, class: 'btn btn-primary' %>


<br>


