<br>
<div class="col-md-8">
  <h2><%= @proposal.title %></h2>
  <hr />
<p>
  <strong>Name:</strong>
  <%= @proposal.first_name %> <%= @proposal.last_name %>
</p>
<p>
  <strong>Organization or Company Name:</strong>
  <%= @proposal.organization %>
</p>
<p>
  <strong>Semester:</strong>
  <%= @proposal.semester_id %>
</p>
<p>
  <strong>Project Length:</strong>
  <%= @proposal.time %>
</p>
<p>
  <strong>Abstract:</strong>
  <%= @proposal.abstract %>
</p>

<% if @proposal.user == current_user %>	
	<%= link_to 'Edit', edit_proposal_path(@proposal) %> |
<% end %>
	<%= link_to 'Back', dashboard_path %>
</div>