
<div class="col-md-8">
  <div class="show">
  <h2><%= @proposal.title %></h2>
  <table class= "table table-hover table-striped">
    <tr> 
      <td class ="title">Name:</td> 
      <td><%= @proposal.first_name %> <%= @proposal.last_name %></td>
    </tr>

    <tr>
      <td class ="title">Organization or Company Name:</td>
      <td><%= @proposal.organization %></td>
    </tr>

    <tr>
      <td class ="title">Semester:</td>
      <td><%= @proposal.semester_id %></td>
    </tr>
    <tr>
      <td class ="title">Project Length:</td>
      <td><%= @proposal.time %></td>
    </tr>
  <tr>
      <td class ="title">Abstract:</td>
      <td><%= simple_format(@proposal.abstract) %></td>
  </tr>
  <tr>
      <td class="title">Relevance of project to course (completed by instructor):</td>
      <td><%= simple_format(@proposal.relevance) %></td>
  
 </table>
 <% if @proposal.user == current_user %>  
  <%= link_to 'Edit', edit_proposal_path(@proposal) %> |
<% end %>
  <%= link_to 'Back', proposals_path %>
</div>
</div>
<div class="show">
 <div class ="col-md-4">
<h2>Proposal Status</h2>
<table class="table table-hover">
  <tr>
    <td class="title">Status:</td>
    <td><%= @proposal.status %></td>
  </tr>
  <tr>
    <td class="title">Course Match:</td>
    <td><%= @proposal.course %></td>
  </tr>
  <tr>
    <td class="title">Feedback from undergraduate director:</td>
    <td><%= simple_format(@proposal.feedback) %></td> 
  </tr>
</table>
</div>
</div>
<div class="show">
<div class ="col-md-4">

<%= form_for @proposal, html: { multipart: true } do |f| %>  
<% if can? :manage, @proposal %>   
  <h2>Admin Action</h2>
    <div class="form-group">
      <%= f.label :status, "Status" %><br>
     <%= f.select :status, options_for_status, :prompt => 'Select One' %>


  </div>
    <div class="form-group">
      <%= f.label :course, "Match proposal to course:" %><br>
      <%= f.select :course, options_for_course, :prompt => 'Select One' %>
  </div>
  <div class="form-group">
    <%= f.label :feedback, "Provide feedback for your decision (optional):" %><br>
    <%= f.text_area :feedback, :rows => 10, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.submit class: "btn btn-sm" %>
  </div>
      <% end %>
      <% end %>

</div>
</div>
