<%= link_to 'PDF', @proposal.document.url %>
<%= image_tag @proposal.image.url %>
<p>
  <strong>Title:</strong>
  <%= @proposal.title %>
</p>
<% if @proposal.user == current_user %>	
	<%= link_to 'Edit', edit_proposal_path(@proposal) %> |
<% end %>
	<%= link_to 'Back', proposals_path %>
