
<div class="col-md-8">
  <div class="show">
  <h2><%= @proposal.title %></h2>
  <table class= "table table-hover table-striped">
    <tr> 
      <td class ="title">Name:</td> 
      <td><%= @proposal.first_name %> <%= @proposal.last_name %></td>
    </tr>

    <tr>
      <td class ="title">Organization or Company Name:</td>
      <td><%= @proposal.organization %></td>
    </tr>

    <tr>
      <td class ="title">Semester:</td>
      <td><%= @proposal.semester_id %></td>
    </tr>

     <tr>
      <td class ="title">Category:</td>
      <td><%= @proposal.subject %></td>
    </tr>

    <tr>
      <td class ="title">Project Length:</td>
      <td><%= @proposal.time %></td>
    </tr>
  <tr>
      <td class ="title">Project Description:</td>
      <td><%= simple_format(@proposal.abstract) %></td>
  </tr>


<% if current_user.admin? or current_user.role?('instructor') %>
  <tr>
      <td class="title">Relevance of project to course (completed by instructor):</td>
      <td><%= simple_format(@proposal.relevance) %></td>
          
  <% end %>
 </table>
   <div class="center">
      <%= link_to "Claim This Proposal!", new_proposal_claim_path(@proposal), class: "btn btn-primary" %>
    </div>
 <% if current_user.admin? %>
  <h2>Client Contact Information</h2>
  <table class= "table table-hover table-striped">
    <tr> 
      <td class ="title">Point Person:</td> 
      <td><%= @proposal.client_name %></td>

    </tr>

    <tr>
      <td class ="title">Client Email:</td>
      <td><%= @proposal.client_email %></td>
    </tr>

    <tr>
      <td class ="title">Client Phone Number:</td>
      <td><%= @proposal.client_phone1 %> <%= @proposal.client_phone2 %> <%= @proposal.client_phone3 %></td>
    </tr>
     <tr>
      <td class ="title">Client agreeement checked?</td>
      <td><%= @proposal.agreement %></td>
    </tr>

<% end %>
     
 </table>
 <% if @proposal.user == current_user or current_user.admin? %>  
  <%= link_to 'Edit', edit_proposal_path(@proposal) %> |
<% end %>
  <%= link_to 'Back', proposals_path %>
</div>
</div>
<div class="show">
 <div class ="col-md-4">
<h2>Proposal Status</h2>
<table class="table table-hover">
  <tr>
    <td class="title">Status:</td>
      <td><% for @claim in @proposal.claims %>
          <%= @claim.claim_status %>
      <% end %></td>

  </tr>
  
  <tr>
    <td class="title">Claimer's Email:</td>
      <td><% for @claim in @proposal.claims %>
          <%= @claim.claimer.email %>
      <% end %></td>

  </tr>
  <tr>
    <td class="title">Message from claimer:</td>
      <td><% for @claim in @proposal.claims %>
          <%= @claim.explanation %>
      <% end %></td>

  </tr>
  <tr>
    <td class="title">Course Match:</td>
    <td><%= @proposal.course %></td>
  </tr>
  <tr>
    <td class="title">Feedback from undergraduate director:</td>
    <td><%= simple_format(@proposal.feedback) %></td> 
  </tr>
</table>
</div>
</div>

<div class="show">
<div class ="col-md-4">

<%= form_for @proposal, html: { multipart: true } do |f| %>  
  <% if can? :manage, @proposal %>   

  <h2>Admin Action</h2>
    

    <div class="form-group">
      <%= f.label :course, "Match proposal to course:" %><br>
      <%= f.select :course, options_for_course, :prompt => 'Select One' %>
  </div>
  <div class="form-group">
    <%= f.label :feedback, "Provide feedback for your decision (optional):" %><br>
    <%= f.text_area :feedback, :rows => 10, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.submit class: "btn btn-default btn-block" %>
  </div>
      <% end %>
      <% end %>

</div>
</div>
