<div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
<nav class="navbar navbar-default" role="navigation">


    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="brand">
      <%=link_to "{ BOLD } Projects", root_path %><br>
       <p>UNT's Department of Technical Communication</p>
</div>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

    <% if user_signed_in? %>

        <ul class="nav navbar-nav navbar-left">
             <li><%= link_to "All Proposals", proposals_path %></li>
              <li><%= link_to "New Proposal", new_proposal_path %></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">

          <!--Controlling the sign in and log out links in nav bar -->
          <% if current_user.admin? %>
            <li><%= link_to "Manage Proposals", proposals_path %></li> 
            <li><%= link_to "Proposals I've Written", creator_history_path %></li>
            <li><%= link_to "Proposals I've Claimed", claimer_history_path %></li>
            <li><%= link_to "New Proposal", new_proposal_path %></li>
            <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
          </ul>

        <% else %> 
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "Proposals I've Written", creator_history_path %></li>
           <li><%= link_to "Proposals I've Claimed", claimer_history_path %></li>
          <li><%= link_to "Edit Profile", edit_user_registration_path %></li>
          <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
          <!--<p class="admin-welcome">You are signed in as <%= current_user.email %>!</p>-->
          </ul>
        <% end %>
        <% else %>

      <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "Register", new_user_registration_path %></li>
          <li><%= link_to "Sign in", new_user_session_path %></li>
      </ul>
    <% end %>

    </div><!-- /.navbar-collapse -->
</div>
</nav>
</div>