<nav class="navbar navbar-default" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      
    <div class="brand">
      <%=link_to "{ BOLD } Projects Initiative", root_path %><br>
      <p>Connecting client projects to university coursework</p>
    </div>

      </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    

      <ul class="nav navbar-nav navbar-right">

        <!--Controlling the sign in and log out links in nav bar -->
        <% if user_signed_in? %>
        <% if current_user.admin? %>
        <div class="dropdown collapse navbar-collapse" id="bs-example-navbar-collapse-1">
           <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
    Admin Actions
    <span class="caret"></span>
  </button>
   <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
          <li role ="presentation" class="dropdown-header">Admin Account: <%= current_user.email %></li>
          <li role="presentation"><%= link_to "Create New Project", new_proposal_path %></li>
          <li role="presentation"><%= link_to "Manage Proposals", proposals_path %></li> 
          <li role="presentation"><%= link_to "View projects I created", dashboard_path %></li>
          <li role="presentation"><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
      </ul>
    </div>
        
        <% else %> 
        <div class="dropdown">
           <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
        What do you want to do?
      <span class="caret"></span>
  </button>
   <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
          <li role ="presentation" class="dropdown-header"><%= current_user.email %></li>
          <li role="presentation"><%= link_to "Create a new project", new_proposal_path %></li>
          <li role="presentation"><%= link_to "View my proposals", dashboard_path %></li>
          <li role="presentation"><%= link_to "Browse all proposals", proposals_path %></li>
          <li role="presentation"><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>

      </ul>
    </div>
        <% end %>
        <% else %>
          <li><%= link_to "Register", new_user_registration_path %></li>
          <li><%= link_to "Sign in", new_user_session_path %></li>
        <% end %>
      </ul>
</nav>