<!DOCTYPE html>
<head>
  <title>BOLD Project Initiative- UNT Technical Communication</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Cabin+Sketch' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700' rel='stylesheet' type='text/css'>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script type="text/javascript" src="smoothscroll.js"></script> 


</head>
<body>

  <div class="container-fluid">
  <%= render "layouts/header" %>

	   <% flash.each do |name, msg| %>
		<%= content_tag(:div, msg, class: "alert alert-info") %>

	<% end %>
   <p id="back-top">
      <a href="#top"><span></span></a>
  </p>
  <div class ="col-lg-12">
	 <%= yield %>
</div>
 <footer class ="panel-footer">
    <div class ="col-md-8">
     <p>Designed and built by Chris Lam in Ruby on Rails.</p>
     <p>For use of this system, please contact Chris Lam at chris dot lam at unt dot edu.</p>
    </div>
    <div class="col-md-4">
     
    </div>
  </footer>
</div>
<script src="http://listjs.com/no-cdn/list.js"></script>
<script type ="text/javascript">
    var options = {
        valueNames: ['date', 'name', 'organization', 'title', 'category', 'semester', 'length', 'email', 'status', 'course']

    };
 
    var userList = new List('users', options);

    $(document).ready(function() {
    userList.sort('date', { asc: true });
});
    
 $('#status').change(function () {
    var selection = this.value; 

    // filter items in the list
    userList.filter(function (item) {
        if (item.values().status == selection) {
            return true;
        } 
        else {
            return false;
        }
    });
});


  $('#category').change(function () {
    var selection = this.value; 

    // filter items in the list
    userList.filter(function (item) {
        if (item.values().category == selection) {
            return true;
        } else {
            return false;
        }
    });
  function displaymessage() {
    $("select").val("0");
}
});
  $('#course').change(function () {
    var selection = this.value; 

    // filter items in the list
    userList.filter(function (item) {
        if (item.values().course == selection) {
            return true;
        } 
        else {
            return false;
        }
    });
});
  $('#semester').change(function () {
    var selection = this.value; 

    // filter items in the list
    userList.filter(function (item) {
        if (item.values().semester == selection) {
            return true;
        } 
        else {
            return false;
        }
    });
});

  $('#none').click(function() {
  $('#status').val('all');
  $('#category').val('all');
  $('#course').val('all');
  $('#semester').val('all');

 userList.filter();
  return false;
 
});


</script>


 <script src="../lib/jquery/jquery.js"></script>
<script src="../src/jquery.smooth-scroll.js"></script>
<script src="../lib/jquery.ba-bbq.js"></script>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js"></script>

<script>
$(document).ready(function(){

  // hide #back-top first
  $("#back-top").hide();
  
  // fade in #back-top
  $(function () {
    $(window).scroll(function () {
      if ($(this).scrollTop() > 100) {
        $('#back-top').fadeIn();
      } else {
        $('#back-top').fadeOut();
      }
    });

    // scroll body to 0px on click
    $('#back-top a').click(function () {
      $('body,html').animate({
        scrollTop: 0
      }, 800);
      return false;
    });
  });

});
</script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script type="text/javascript" src="js/smoothscroll.js"></script> 
<script>
(function($) {
    $.fn.SmoothAnchors = function() {

        function scrollBodyTo(destination, hash) {

            // Change the hash first, then do the scrolling. This retains the standard functionality of the back/forward buttons.
            var scrollmem = $(document).scrollTop();
            window.location.hash = hash;
            $(document).scrollTop(scrollmem);
            $("html,body").animate({
                scrollTop: destination
            }, 500);

        }

        if (typeof $().on == "function") {
            $(document).on('click', 'a[href^="#"]', function() {

                var href = $(this).attr("href");

                if ($(href).length == 0) {

                    var nameSelector = "[name=" + href.replace("#", "") + "]";

                    if (href == "#") {
                        scrollBodyTo(0, href);
                    }
                    else if ($(nameSelector).length != 0) {
                        scrollBodyTo($(nameSelector).offset().top, href);
                    }
                    else {
                        // fine, we'll just follow the original link. gosh.
                        window.location = href;
                    }
                }
                else {
                    scrollBodyTo($(href).offset().top, href);
                }
                return false;
            });
        }
        else {
            $('a[href^="#"]').click(function() {
                var href = $(this).attr("href");

                if ($(href).length == 0) {

                    var nameSelector = "[name=" + href.replace("#", "") + "]";

                    if (href == "#") {
                        scrollBodyTo(0, href);
                    }
                    else if ($(nameSelector).length != 0) {
                        scrollBodyTo($(nameSelector).offset().top, href);
                    }
                    else {
                        // fine, we'll just follow the original link. gosh.
                        window.location = href;
                    }
                }
                else {
                    scrollBodyTo($(href).offset().top, href);
                }
                return false;
            });
        }
    };
})(jQuery);

$(document).ready(function() {
    $().SmoothAnchors();
});
      </script>
      <script>
      var originalNavClasses;

function toggleNav() {
    var elem = document.getElementById('navigation_list');
    var classes = elem.className;
    if (originalNavClasses === undefined) {
        originalNavClasses = classes;
    }
    elem.className = /expanded/.test(classes) ? originalNavClasses : originalNavClasses + ' expanded';
}
        </script>
<script>
  var url = window.location;
// Will only work if string in href matches with location
$('ul.nav a[href="'+ url +'"]').parent().addClass('active');

// Will also work for relative and absolute hrefs
$('ul.nav a').filter(function() {
    return this.href == url;
}).parent().addClass('active');
</script>

<script src="jquery.autotab.js"></script>
<script>
  $('.number').autotab('number');
</script>

</body>
</html>
