<!DOCTYPE html>
<head>
  <title>Client Proposal System</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Playfair+Display' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Sanchez' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Droid+Serif' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Neucha' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Cabin+Sketch' rel='stylesheet' type='text/css'>
</head>
<body>
  <div class="container-fluid">
  <%= render "layouts/header" %>

	<% flash.each do |name, msg| %>
		<%= content_tag(:div, msg, class: "alert alert-info") %>
	<% end %>
  <div class ="col-lg-12">
	 <%= yield %>
</div>
 <footer class ="panel-footer">
    <div class ="col-md-8">
     <p>Designed and built by Chris Lam using Ruby on Rails and Bootstrap CSS</p>
     <p>For use of this system, please contact Chris Lam at chris dot lam at unt dot edu.</p>
    </div>
    <div class="col-md-4">
     
    </div>
  </footer>
</div>
</body>
</html>
